{% load dollars %}
<style>
    @page {
      size: letter portrait;
      @frame page_one {
        left 50pt; width: 512pt; top:50pt; height: 672pt;
      }
      @frame footer_frame {
        -pdf-frame-content: footer_content;
        left 50pt; width: 512pt; top:742pt; height: 20pt;
      }
    }

    body, div, td, p, a {font-size:10pt;}
    h3{padding:0; margin:15pt 0 0 0;}
    table { -pdf-keep-with-next: true; -pdf-keep-in-frame-mode: overflow}
    tr { page-break-inside: avoid }
    p { -pdf-keep-with-next: true;}
    p.seperator { -pdf-keep-with-next: false;}
    .action_title{width:500pt; text-align:left; padding:10pt;margin:10pt 0px; font-size:14pt; color:#006699;}
    .headertbl{padding:0; margin:0;}
    .sumtbl1{border:.5pt solid #666; padding:0; margin:0;}
    .sumtbl1 td{font-size:10pt;text-align:left; padding:3pt; }
    .sumtbl1 thead td{font-weight:bold; font-size:10pt;text-align:center; padding:3pt; }
    .sumtbl1 td.rtdr{text-align:right;}


    .w30 {width:30pt;}
    .w70 {width:70pt;}
    .w90 {width:90pt;}
    .w100 {width:100pt;}
    .w120 {width:120pt;}
    .w200 {width:200pt;}
    .w300 {width:300pt;}
    .w400 {width:400pt;}

    .vtop{vertical-align:top;}
    .dos{padding-left:16pt; font-size:20pt;color:#333; }
</style>
<!-- start: ____________________  Billing record summary ____________________ -->
    <h3>Billing Record Summary</h3>



    <table cellspacing="0" cellpadding="0" class="sumtbl1">
        <thead>
        <tr>
                <td>&nbsp;</td>
                <td>start date</td>
                <td>end date</td>
                <td>product</td>
                <td>user</td>
                <td>units</td>
                <td>rate</td>
                <td>account</td>
                <td>charge</td>
        </tr>
        </thead>

    {% for row in billing_records %}
        <tr>
                <td class="w30 rtdr">{{ forloop.counter }}</td>
                <td class="w300">{{ row.start_date }}</td>
                <td class="w300">{{ row.end_date }}</td>
                <td class="w300">{{ row.product }}</td>
                <td class="w300">{{ row.user }}</td>
                <td class="rtdr">{{ row.quantity }}</td>
                <td class="w300">{{ row.rate }}</td>
                <td class="rtdr">{{ row.account }}</td>
                <td class="rtdr">{{ row.charge|dollars }} </td>
        </tr>
    {% endfor %}
    <tr>
            <td class="rtdr" colspan="4"><b>Total</b></td>
            <td class="rtdr">{{total|dollars }}</td>
    </tr>
    </table>

<!-- end: ____________________  Billing record summary ____________________ -->
