{% load dollars %}
<!-- start: ____________________  Billing record summary ____________________ -->
    <h3>Billing Record Summary</h3>



    <table cellspacing="0" cellpadding="0" class="sumtbl1">
        <thead>
        <tr>
                <td>&nbsp;</td>
                <td>start date</td>
                <td>end date</td>
                <td>product</td>
                <td>user</td>
                <td>units</td>
                <td>rate</td>
                <td>account</td>
                <td>charge</td>
        </tr>
        </thead>

    {% for row in billing_records %}
        <tr>
                <td class="w30 rtdr">{{ forloop.counter }}</td>
                <td class="w300">{{ row.product_usage.start_date }}</td>
                <td class="w300">{{ row.product_usage.end_date }}</td>
                <td class="w300">{{ row.product_usage.product.product_name }}</td>
                <td class="w300">{{ row.product_usage.product_user.full_name }}</td>
                <td class="rtdr">{{ row.product_usage.quantity }}</td>
                <td class="w300">{{ row.rate }}</td>
                <td class="rtdr">{{ row.account.code }}</td>
                <td class="rtdr">{{ row.charge|dollars }} </td>
        </tr>
    {% endfor %}
    <tr>
            <td class="rtdr" colspan="4"><b>Total</b></td>
            <td class="rtdr">{{total|dollars }}</td>
    </tr>
    </table>

<!-- end: ____________________  Billing record summary ____________________ -->
